.empty-square-root {
    padding: 0 2px;
    background-color: lightgray !important;
    min-height: 16px;
    width: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.blink-cursor {
    display: inline-block;
    width: 1px;
    background-color: black;
    animation: blink 1s infinite;
    margin: 0 0px;
    background: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}