.integral {
  display: inline-block;
  align-items: center;
  margin: 0 5px;
  font-size: 1em;
}

.upper-bound {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-bound {
  font-size: 0.8em;
  display: flex;
  bottom: -10px; right: -50px;
  justify-content: center;
  align-self: center;
}

.integral-sign {
  font-size: 2em;
  font-weight: bold;
}


