.integral {
  display: flex;
  margin: 10px;
  position: absolute;
}

.upper-bound {
  font-size: 1.2em;
  position: relative;
  top: -5px; left: 5px;
}

.lower-bound {
  font-size: 1.2em;
  position: relative;
  bottom: -20px; right: 30px;
}

.integral-sign {
  font-size: 30px;
  font-weight: bold;
  margin: 0 5px;
}

.value {
  margin-left: 5px;
}
