.blink-cursor {
    display: inline-block;
    width: 1px;
    background-color: black;
    animation: blink 1s infinite;
    margin: 0 0px;
    background: none;
}
  
@keyframes blink {
    50% { opacity: 0; }
}

.log {
    font-style: normal;
}

.log-content {
    font-style: normal;
}
